a {
    color: #666;
    text-decoration: none;
}

.btn{
    background: #110;
    border-radius: 6px;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    margin: 20px;
    padding: 10px, 10px;
}

/* Псевдоселекторы */
 a:hover{ /* hover - поведение, при наведении курсором*/
    color: orange;
}

a:visited{
    color: palevioletred;
}

a:active{
    color: blue;
}

.btn:hover{
    background: #444;
}

/* .css:hover{
    color: orange;
} */