.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    max-width: 700px;
    margin: auto;
    margin-bottom: 15px;
}

.li{
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.last-li{
    border-bottom: 0px;
}

.table {
    width: 100%;
}

.table td{
    text-align: center;
    padding: 5px;

}

.table tr:nth-child(even){
    background: #aaa;
}

.table tr:nth-child(odd){
    background: #ccc;
}

.table td:nth-child(3){
    background: red;
}

.navbar{
    /* padding: 10px 20px; */
    background: white;
    border-bottom: 2px solid black;
    max-width: 100%;

}

.navbar ul{
    list-style: none;
    display:block;
    padding: 10px;
    max-width: 70%;
    margin: auto;
    
}

.navbar ul li{
    margin-right: 10px;
    padding: 10px;
    display: inline;
}

.navbar ul li:hover{
    background: #5e5e5e;
    
}

.navbar ul li:hover:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.navbar ul li:hover:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}